.logo {
  width:110px;

}

.font-awesome-icon-in-attribute {
  font-family: FontAwesome;
}

.navigation-icon {
  font-size: 25px;
  margin-left: 15px;
}

.avatar {
  width: 150px;
}

.user-name {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 30px;
}
.higlights {
  width: 80px;
}

.container {
  margin: auto;
  width: 800px;
}

.main-avatar {
  padding: 15px 5px 20px 5px;

}

.edit-button {
  font-size: 12px;
  font-weight: bold;
}

.descr {
  font-weight: bold;
}
